/* html要素の文字サイズを宣言 */
/* html要素の文字サイズを宣言 */
/* html要素の文字サイズを宣言 */
html {
    font-size: 24px;
}

/* h1要素の文字色、背景色、文字サイズを宣言 */
h1 {
    color: blue; /* 文字色を青に設定 */
    background-color: blue; /* 背景色を青に設定 */
    font-size: 1rem; /* 文字サイズを設定 */
}

/* h3要素の背景色、文字サイズを宣言 */
h3 {
    background-color: rgb(0, 100, 0);
    font-size: 0.75rem;
}

/* p要素の文字色、文字サイズを宣言 */
p {
    color: #000080; /* 文字色をネイビーに設定 */
    font-size: 0.5rem;
}

/* 「色」の文字色を宣言 */
span {
    color: green; /* 「色」という文字を緑色に設定 */
}

/* 「色」の文字色を宣言 */
/* 「色」の文字色を宣言 */
span {
    color: red;
  }
